/* Общие стили для страницы */
body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
    color: #333;
}

/* Стили для заголовка */
header {
    background-color: #4CAF50;
    color: white;
    text-align: center;
    padding: 1em 0;
}

header h1 {
    margin: 0;
}

/* Стили для навигационного меню */
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

ul li {
    float: left;
}

ul li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

ul li a:hover {
    background-color: #111;
}

/* Стили для основного контейнера */
.container {
    width: 80%;
    margin: 0 auto;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin-top: 20px;
}

/* Стили для секций */
section {
    margin-bottom: 30px;
}

section h2 {
    color: #4CAF50;
}

/* Стили для карточек сотрудников */
.employee {
    background-color: #f9f9f9;
    padding: 10px;
    border: 1px solid #ddd;
    margin-bottom: 15px;
    border-radius: 5px;
}

/* Стили для кнопок */
button {
    background-color: #4CAF50;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 10px;
}

button:hover {
    background-color: #45a049;
}

/* Стили для модального окна */
#modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
}

#modal div {
    width: 300px;
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

/* Стили для формы */
form {
    display: flex;
    flex-direction: column;
}

form input {
    margin-bottom: 10px;
    padding: 8px;
    font-size: 1em;
    border: 1px solid #ddd;
    border-radius: 5px;
}

/* Стили для таблицы */
table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
}

table, th, td {
    border: 1px solid #ddd;
}

th, td {
    padding: 10px;
    text-align: left;
}

/* Стили для кнопки возврата */
.animated-button {
    display: inline-block;
    padding: 10px 20px;
    margin-top: 20px;
    color: white;
    background-color: #4CAF50;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

.animated-button:hover {
    background-color: #45a049;
}

/* Стили для медиа */
video, audio {
    width: 100%;
    margin-top: 20px;
}
